@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Short+Stack&display=swap');

:root{
    --primary-color: #d8d9e3;
    --primary-dark: #6a6ba8;
    --primary-very-dark: #372950;
    --secondary-color: #583c53;
    --tertiary-color: #191826;
    --font-primary-color: #060506;
    --font-secondary-color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Short Stack', cursive;
    color: var(--font-secondary-color);
}


body{
    margin: 0;
    background-color: var(--primary-dark);
    color: var(--font-secondary-color);
}

body h2{
    font-family: 'Kaushan Script', cursive;
}

.header{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-very-dark);
    width: 100%;
    height: 7.5%;
    padding: 0px 5px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
}

.nav a{
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
}

.preview{
    padding-bottom: 55%;
}

.preview video{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.top{
    padding-top: 5%;
}

.back-button {
    background-color: var(--primary-very-dark);
    margin: 5% 0;
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 6px;
    margin-left: 1%;
    transition-duration: 0.3s;
}

.back-button:hover {
    background-color: black;
    color: white;
}

.back-button:active {
    transform: translateY(4px);
  }

.content{
    background-color: var(--primary-color);
    padding: 0;
}

.content p{
    margin: 0;
}

.pitch{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px, 0px, 5px, 0px, rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    padding: 10px 2px;
    margin: 0;
    text-align: center;
    position: sticky; bottom: 100px;
}


.teamlist{
    list-style: none;

    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.membercard{
    width: 10em;
    height: 10em;
    
    margin: 30px 20px;
    padding: 20px;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: var(--secondary-color);

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.membercard a{
    text-decoration: none;
}

.membercard img{
    z-index: -1;
    border-radius: 50%;
}

.plaque{
    background-color: var(--primary-very-dark);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    width: 11em;
}

#game-link-container {
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    
}

#game-link {
    padding-left: 10px;
}

/*
#
#
# Blog Stuff
#
#
*/

.container {
    width: 100%;
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .blogheader {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .blogheader h1 {
    padding-top: 30px;
    font-size: 45px;
    color: var(--font-secondary-color);
}

.container .row .blogheader p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--font-secondary-color);
}

.blogcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.blogcontent .card {
    flex-grow: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-very-dark);
}

.blogcontent .card img {
    width: 500px;
    height: auto;
    margin: 10px;
}

.blogcontent .card h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.blogcontent .card h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.blogcontent .card p {
    font-size: 15px;
    color: var(--font-secondary-color);
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .teamlist{
        flex-direction: column;
    }
    
    .blogcontent{
        flex-direction: column;
    }
}