
:root {
    --primary-color: #ffffff;
    --secondary-color: #c8c8c8;
    --font-primary-color: #000000;
    --font-secondary-color: #ffffff;
  }

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    color: var(--font-primary-color);
}

.header{
    background-color: var(--secondary-color);
    width: 100%;
    height: 7.5%;
    padding: 0px 5px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
}

.nav a{
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
}

.preview{
    padding-bottom: 57.5%;
}

.preview video{
    width: 100%;
    position: fixed;
    top: 7.5%;
    z-index: -1;
}

.top{
    padding-top: 7.5%;
}

.content{
    background-color: var(--primary-color);
    padding: 0;
}

.content p{
    margin: 0;
}

.pitch{
    background-color: var(--secondary-color);
    padding: 10px 2px;
    margin: 0;
    text-align: center;
}